[submodule "composeApp/src/commonMain/kotlin/sokeriaaa/common/compose"]
	path = composeApp/src/commonMain/kotlin/sokeriaaa/common/compose
	url = https://github.com/Sokeriaaa/ComposeShared.git
[submodule "composeApp/src/commonMain/kotlin/sokeriaaa/common/kmp"]
	path = composeApp/src/commonMain/kotlin/sokeriaaa/common/kmp
	url = https://github.com/Sokeriaaa/KMPShared.git
[submodule "composeApp/src/commonTest/kotlin/sokeriaaa/common/kmp/test"]
	path = composeApp/src/commonTest/kotlin/sokeriaaa/common/kmp/test
	url = https://github.com/Sokeriaaa/KMPShared-test.git
[submodule "composeApp/src/commonMain/kotlin/sokeriaaa/return0/shared"]
    path = composeApp/src/commonMain/kotlin/sokeriaaa/return0/shared
    url = https://github.com/Sokeriaaa/Return0-shared.git
[submodule "composeApp/src/commonTest/kotlin/sokeriaaa/return0/test/shared"]
	path = composeApp/src/commonTest/kotlin/sokeriaaa/return0/test/shared
	url = https://github.com/Sokeriaaa/Return0-shared-test.git
[submodule "room2sqldelight-ksp"]
	path = room2sqldelight-ksp
	url = https://github.com/Sokeriaaa/RoomToSQLDelightKSP.git
